[submodule "wiki"]
	path = wiki
	url = https://github.com/FatmanUK/dreamtrack23.wiki.git
[submodule "plugins/modules"]
	path = plugins/modules
	url = https://github.com/FatmanUK/ansible_modules.git
[submodule "modules"]
	path = modules
	url = https://github.com/FatmanUK/ansible_modules.git
