GRUB_DEFAULT={{ grub_default }}
GRUB_SAVEDEFAULT={{ grub_savedefault }}
GRUB_TIMEOUT={{ grub_timeout }}
GRUB_DISTRIBUTOR="{{ grub_distributor }}"
GRUB_DISABLE_OS_PROBER={{ grub_disable_os_prober }}
GRUB_GFXPAYLOAD_LINUX={{ grub_gfxpayload_linux }}
GRUB_GFXMODE={{ grub_gfxmode }}
GRUB_THEME="{{ grub_theme }}"
#GRUB_BACKGROUND={{ grub_background }}
GRUB_CMDLINE_LINUX_DEFAULT={{ grub_cmdline_linux_default | join(" ") }}
