# Network Settings
ListenAddress 0.0.0.0
Port 22
AddressFamily inet
Protocol 2

# Auth Settings
PermitRootLogin no
ChallengeResponseAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
UsePAM yes
UseDNS no
PermitEmptyPasswords no
PubkeyAuthentication yes
PubkeyAcceptedAlgorithms ssh-rsa,ssh-rsa-cert-v01@openssh.com,rsa-sha2-512

# Ciphers and Algorithms
Ciphers chacha20-poly1305@openssh.com
HostKeyAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
KexAlgorithms curve25519-sha256
MACs hmac-sha2-512-etm@openssh.com

# Session Settings
PrintMotd yes
Subsystem sftp /usr/libexec/sftp-server
Banner /etc/issue.net
X11Forwarding no
ClientAliveCountMax 2
Compression yes
MaxAuthTries 20
MaxSessions 2
TCPKeepAlive no
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
StrictModes yes
PrintLastLog yes

# Log Settings
LogLevel VERBOSE
SyslogFacility AUTHPRIV
